<?xml version="1.0" encoding="UTF-8"?>

<Configuration >
	<Properties>
		<Property name="FILENAME">${sys:LOGS_SRVRESTTIENDA_LOCATION}/srvresttiendaservicio.log</Property>
	</Properties>
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %p %c{2} [%M] |%L| %m %n" />
		</Console>
		<RollingFile name="FILE" fileName="${FILENAME}"
			filePattern="${FILENAME}.%d{yyyy-MM-dd}.gz">
			<PatternLayout>
				<Pattern>%d %p %c{2} [%M] |%L| %m %n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<!-- avoid duplicated logs with additivity=false -->
		<Logger name="ec.com.ws.rest.tienda" level="info" additivity="false">
			<AppenderRef ref="FILE" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="CONSOLE" />
		</Root>
	</Loggers>

</Configuration> 